#wrapper {
  max-width: 1400px;
}

#menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  margin-bottom: 0px;
}

h2{
  font-size: 25px
}

body{
  background-color: #e2f1f4;
}

#description{
  text-align: justify;
}

iframe{
  width : 93%;
}

.image{
  text-align: center;
  margin-top:50px;
}

.texte_image{
  margin-right: 30px;
}

.description{
  margin-top : 20px;
}

.icone{
  width: 50px;
  height: 50px;
}

.icones {
  display: flex;
  text-align: center;
}

.icones>a {
  margin-left: 25%;
}
.col .row{
  margin-left: 36%;
}

