        </div>
    </body>
    <footer>
        <div class="container" id="wrapper">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content ">
                            <div class="row icones_bis">
                                <div class="col s12 m4 icones">
                            
                                    <a href="https://www.facebook.com/iut.montpellier.sete/" class="pure-button button-socicon" target="_blank"><span class="socicon socicon-facebook blue-text text-darken-4 icone"></span></a>
                                    <a href="https://www.tripadvisor.fr/" class="pure-button button-socicon" target="_blank"><span class="socicon-tripadvisor green-text text-darken-3 icone"></span></a>
                                    <a href="https://twitter.com/?lang=fr" class="pure-button button-socicon" target="_blank"><span class="socicon-twitter icone"></span></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </footer>
</html>